{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="banner">
                <div class="banner-text">
                    <h4>TO-DO APP FOR DAILY ROUTINE</h4>
                </div>
                </div>
            </div>
    </div>
    <div class="adminDash_left">
        <nav class="nav">
          <a class="nav-link" href="{% url 'detail' %}">DETAIL</a>
        </nav>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>Add Task</h4>
 <form method="post" class="p-3 shadow">
    {% csrf_token %}
    <div class="form-group">
    <input type="text" name="name" class="form-control" placeholder="Name of task" required>
    </div>
    <div class="form-group">
    <input type="text" name="priority" class="form-control" placeholder="Priority of task" required>
    </div>
    <div class="form-group">
    <input type="date" name="date" class="form-control" placeholder="Date to be completed" required>
    </div>
    
    <input type="submit" class="btn btn-success">


</form>
        </div>
        <div class="col-md-6">
            <h4>COMPLETED TASKS</h4>
            <div class="shadow card">
            <div class="card-body">
                {% for d in task %}
                <p>Task Name : <b>{{ d.task_name }}</b></p>
                <p>Priority:<b>{{ d.Priority }}</b></p>
                <p>Date: <b>{{ d.date }}</b></p>       
                {% endfor %}            
            </div>
                </div>
            <br>
        </div>
    </div>

</div>

{% endblock %}